.support-me:after{
    content: '';
    display: block;
    clear: both;
}
.support-me img.avatar{
    float: left;
    padding: 1px;
    border: 1px solid #CCC;
    border-radius: 2px;
    margin: 0 10px 0 0;
    width: 80px;
}