@charset "utf-8";

body {
	width: 100%;
	height: 100%;
	font-family: <?php echo $tplSettings->body_ff; ?>;
    background-color: #<?php echo $tplSettings->bgcolor; ?>;
    <?php if( $tplSettings->bgimage != '' ): ?>
    background-image: url(<?php echo $tplSettings->bgimage; ?>);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    <?php endif; ?>
}
html {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom:20px;
	margin-top:0px;
	color:#<?php echo $tplSettings->color1; ?>;;
	font-family: <?php echo $tplSettings->body_ff; ?>;
	letter-spacing:-1px;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:26px;
}
h3 {
	font-size:20px;
}
p {
	font-size:16px;
	line-height:26px;
	color:#<?php echo $tplSettings->textcolor; ?>;
	margin-bottom: 30px;
}
ul {
	margin:0px;
	padding:0px;
}
ul li {
	line-height:26px;
	color:#<?php echo $tplSettings->textcolor; ?>;
}
<?php if ( $tplSettings->bgimage != '' ): ?>
section{
    background-color: #<?php echo $tplSettings->seccolor; ?>;
}
<?php endif; ?>
.green-icon {
	margin-bottom:40px;
	color:#<?php echo $tplSettings->color2; ?>;
}
.green-icon:hover{
	margin-bottom:40px;
	color:#<?php echo $tplSettings->color1; ?>;;
}
.fa-size{ font-size:24px;}

/*--------------------
	  buttons
---------------------*/

.btn-orange {
	background-color:#<?php echo $tplSettings->color3; ?>;
	color:#fff;
	padding:10px 23px;
	font-size:18px;
	border: none;
	font-weight: 400;
	letter-spacing: 1px;
	box-shadow:         0 3px 0 0 #<?php echo $qpColor->darken( $tplSettings->color3, 6 ); ?>;
}
.btn-orange:hover {
	color:#fff;
	background-color:#<?php echo $qpColor->darken( $tplSettings->color3, 5 ); ?>;
}
.btn-green {
	background-color: #<?php echo $tplSettings->color2; ?>;
    color: #fff;
    padding: 10px 18px;
    font-size: 17px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 3px 0 0 #<?php echo $qpColor->darken( $tplSettings->color2, 6 ); ?>;
    text-transform: uppercase;
}
.btn-green:hover {
	color:#fff;
    background-color:#<?php echo $qpColor->darken( $tplSettings->color2, 5 ); ?>;
}
.btn-grey {
    background-color: #<?php echo $tplSettings->color4; ?>;
    color: #fff;
    padding: 10px 18px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow:         0 3px 0 0 #<?php echo $qpColor->darken( $tplSettings->color4, 6 ); ?>;
    text-transform: uppercase;
}
.btn-grey:hover {
    color: #fff;
    background-color:#<?php echo $qpColor->darken( $tplSettings->color4, 5 ); ?>;
}


/*---------------
	   nav
----------------*/
.navbar-nav {
	float: right;
	margin: 0;
}
.navbar-default {
    <?php if( $tplSettings->bgimage == '' ): ?>
	background-color: #<?php echo $tplSettings->header_color; ?>;
    border-bottom:1px solid rgba(0,0,0,0.1);
    <?php else: ?>
    background-color: rgba(0,0,0,0.1);
    border-bottom: 0;
    <?php endif; ?>
}
.navbar-brand {
	float: left;
	padding: 0 0 0 15px;
	font-size: 18px;
	line-height: 20px;
	height: 20px;
}
.navbar-default .navbar-nav>li>a {
	color: #<?php echo $tplSettings->textcolor; ?>;
	font-size:17px;
	-webkit-font-smoothing: antialiased;
	float:left;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #<?php echo $tplSettings->color1; ?>;;
	background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #<?php echo $tplSettings->color1; ?>;;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/*--------------- Mobile menu ---------------*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #<?php echo $tplSettings->color2; ?>;
border-color: #<?php echo $tplSettings->color2; ?>;
}
.navbar-default .navbar-toggle {
border-color: #<?php echo $tplSettings->color1; ?>;;
background-color: #<?php echo $tplSettings->color1; ?>;;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}

.social {

}
.social a {
	padding: 10px 5px!important;
	margin-top:3px;
	color: #<?php echo $tplSettings->header_text1; ?>!important;
}
.social a:hover {
	color:#<?php echo $tplSettings->header_text2; ?>!important;
}
.logo {
	font-family: <?php echo $tplSettings->em_ff; ?>;
	font-weight:400;
	text-transform:lowercase;
	color: #<?php echo $tplSettings->header_text2; ?>;
}
.logo-brand {
	font-weight:700;
    color: #<?php echo $tplSettings->header_text1; ?>;
}

/*-----------------
    Main Content
-------------------*/
.intro-section {
	padding-top: 100px;
    <?php if ( $tplSettings->bgimage == '' ): ?>
	background: #<?php echo $tplSettings->header_color; ?>;
    <?php else: ?>
    background-color: transparent;
    <?php endif; ?>
	padding-bottom:100px;
}
.intro-caption {
	margin-top:100px;
}
.intro-caption > p{
    color: #<?php echo $tplSettings->header_text; ?>!important;
}
.intro-title {
	font-size:48px;
    color: #<?php echo $tplSettings->header_text1; ?>;
}
.intro-title span {
	color:#<?php echo $tplSettings->header_text2; ?>;
}
.call-info {
	color:#<?php echo $tplSettings->color4; ?>;
	font-weight:700;
	font-size:32px;
	margin-top:30px;
}
.divider{ border-top:#d5d7cf solid 1px; margin: 60px 0 60px 0; display:block;}

.block-title {
	margin-bottom:60px;
	text-align: center;
}
.main-form {
	padding: 30px;
	background-color:#fff;
	border-radius:2px;
	-webkit-box-shadow: 0 3px 1px 0 rgba(211, 213, 207, 0.75);
	-moz-box-shadow:    0 3px 1px 0 rgba(211, 213, 207, 0.75);
	box-shadow:         0 3px 1px 0 rgba(211, 213, 207, 0.75);
}
.main-form h2{
	color:#<?php echo $tplSettings->color2; ?>;
}
.main-form form .form-group label {
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
}
.main-form form .form-group input {
	padding:15px 15px;
	height: 45px;
}
.btn-Submit {
	margin-top: 15px;
	display: inline-block;
	margin-bottom: 5px;
}
/*--------------
	services
----------------*/

.services-section {
	padding-top: 90px;
	background: #<?php echo $tplSettings->seccolor; ?>;
	padding-bottom:60px;
}
.feature-block {
	margin-top:30px;
	text-align:center;
}
.feature-block .green-icon:hover {
	color:#<?php echo $tplSettings->color1; ?>;;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
}
.green-icon {
margin-bottom: 10px;
color: #<?php echo $tplSettings->color2; ?>;
}
.green-icon:hover {
margin-bottom: 10px;
color: #<?php echo $tplSettings->color1; ?>;;
}
.green-icon i{
	margin-bottom:15px;
}
/*--------------
	 video
----------------*/
.video-section {
	padding-top: 90px;
	padding-bottom:60px;
}
.video-wrapper iframe {
border:10px solid #dbddd3 !important;
}

.bg-profile{ background:#e8eae3; text-align: center; margin-bottom:20px; -webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;}
.bg-profile:hover{ background-color:#<?php echo $tplSettings->color2; ?>; cursor:pointer;}
.testimonials-block{
	margin-bottom:60px;
}
.testimonials img{
	margin-bottom:30px;
}
.testimonials span {
	color:#<?php echo $tplSettings->color1; ?>;
	font-size:20px;
}
.testimonials span a {
	color:#<?php echo $tplSettings->color2; ?>;
	font-size:14px;
}
.client-logo img{
		opacity: 0.5;}
.client-circle {
	padding: 8px;
	background: #fff;
	border: 1px solid #ebece8;
    width: 120px; height: 120px;
}

/*--------------
	newsletter
----------------*/

.newsletter {
	padding-top:60px;
	padding-bottom:60px;
}
.newsletter .form-control {
	height:48px;
	border-radius: 0;
	border: 1px solid #c1c3bd;
}
.newsletter .btn-orange {
	padding-left:20px;
	padding-right:20px;
	display: block;
	font-weight:600;
}

/*-------------
	 footer
---------------*/
.footer {
	background-color:#<?php echo $tplSettings->footerbg; ?>;
}
.social-icon {
	font-size:24px;
	color:#<?php echo $tplSettings->footertext; ?>;
	margin-top:45px;
	margin-right: 25px;
}
.social-icon:hover {
	color:#<?php echo $tplSettings->color2; ?>;
}
.ft p {
	font-size:17px;
	color:#<?php echo $tplSettings->footertext; ?>;
	margin-top:45px;
}
 @media(min-width:767px) {
 .navbar {
 padding: 20px 0;
 -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
 -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
 transition: background .5s ease-in-out, padding .5s ease-in-out;
}
 .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
     background-color: #<?php echo $tplSettings->header_color; ?>;
}
}
@media(max-width:767px) {

/*---------------
	   nav
---------------*/

.navbar-nav {
float: left;
margin: 0;
}
.logo-brand {
font-weight: 700;
font-size: 24px;
margin-top: 12px;
}
/*---------------
   main-section
---------------*/

.intro-section {
	background: #<?php echo $tplSettings->header_color; ?>;
	padding:0px;
}
.call-info {
color: #<?php echo $tplSettings->color4; ?>;
font-weight: 700;
font-size: 28px;
line-height: 35px;
}
.btn-green {
    background-color: #<?php echo $tplSettings->color2; ?>;
    color: #fff;
    padding: 10px 18px;
    font-size: 17px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 3px 0 0 #<?php echo $qpColor->darken( $tplSettings->color2, 6 ); ?>;
    text-transform: uppercase;
    margin-bottom: 20px;
}
/*---------------
	about-section
---------------*/

.about-section {
padding-top: 60px;
background: #fff;
padding-bottom: 20px;
text-align:center;
}
.block {
margin-bottom: 0;
}
.box-ct{
	text-align:center;
}
/*---------------
	services
---------------*/

.services-section {
padding-top: 60px;
background: #<?php echo $tplSettings->seccolor; ?>;
padding-bottom: 20px;
}
.box-icon {
height: 160px;
width: 160px;
-moz-border-radius: 35px;
border-radius: 100%;
padding: 55px;
background-color: #<?php echo $tplSettings->header_color; ?>;
color: #<?php echo $tplSettings->color1; ?>;;
text-align: center;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
margin: 0 auto;
}
.green-icon{
	text-align:	center;
}
/*---------------
	doctor
---------------*/

.doctor-section {
padding-top: 60px;
padding-bottom: 20px;
}
/*---------------
	testimonals
---------------*/

.testimonials {
background-color: #<?php echo $tplSettings->seccolor; ?>;
padding-top: 50px;
padding-bottom: 20px;
margin-top: 30px;
text-align:center;
}
.client-circle {
padding: 8px;
background: #fff;
border: 1px solid #ebece8;
margin-bottom: 10px;
margin-top: 10px;
}
/*---------------
	contact
---------------*/

.contact {
padding-top: 60px;
padding-bottom: 20px;
background-color: #<?php echo $tplSettings->seccolor; ?>;
}
/*---------------
	newsletter
---------------*/

.newsletter {
padding-top: 60px;
padding-bottom: 20px;
}
.newsletter .btn-orange {
padding-left: 20px;
padding-right: 20px;
display: block;
font-weight: 600;
margin-top: 20px;
}
/*---------------
	footer
---------------*/

.social-icon {
font-size: 24px;
color: #<?php echo $tplSettings->footertext; ?>;
margin-right: 15px;
padding-bottom: 30px;
}
}


