body{
	margin-bottom: 50px!important;
}
.big-input{
    font-size: 22px!important;
    line-height: 32px!important;
    height: 40px!important;
}
#existing-meta{
    background: #f2f2f2;
    padding: 10px;
    border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
}
#existing-meta .row-fluid{
    padding-top: 10px;
}
.hidden-field{
    display: none;
}

.accordion-inner > .nav-tabs{
	background: #f2f2f2;
	margin: -9px -15px 9px -15px;
	padding: 5px 5px 0 5px;
}

.xo-widget-content form{
	margin-bottom: 0;
}

#qp-form-controls{
    background: #222;
	position: fixed;
	bottom: 0; left: 0; right: 0;
	padding: 10px;
	text-align: center;
	border-top: 1px solid #97A095;
	border-top: 1px solid rgba(0,0,0,0.1);
    z-index: 1060;
}
#qp-blocker{
	z-index: 1100;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(0,0,0,0.8);
	display: none;
}
#qp-blocker-info{
	background: rgba(0,0,0,0.6);
	position: fixed;
	width: 400px;
	padding: 20px;
	top: 50%; left: 50%;
	margin-left: -220px;
	margin-top: -61px;
	z-index: 1101;
	border-radius: 3px;
	text-align: center;
	box-shadow: 1px 1px 1px rgba(255,255,255,0.05);
	display: none;
}
#qp-blocker-info span{
	display: block;
	line-height: 30px!important;
	color: #FFF;
	font-size: 12px;
	background-image: url(../images/working.gif);
	background-repeat: no-repeat;
	background-position: center 0;
	padding: 20px 0 0 0;
	margin-bottom: 10px;
	border-radius: 3px;
}
#qp-blocker-info button:last-child{
	display: none;
}
#qp-blocker-info button{
	margin: 0 3px
}
.qp-error{
	color: #FF2333!important;
}
#qp-permalink{
	margin-bottom: 10px;
}
#qp-permalink label{
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0;
}
#qp-permalink span{
	color: #666;
}
.blocker-success span{
	background-image: url(../images/done.png)!important;
	padding-top: 25px;
}
.custom-url{
	padding: 10px;
	border: 1px solid #ddd;
	border-width: 1px 0 1px 0;
	background: #fcf8e3;
	border: 1px solid #fbeed5;
}
.groups_field_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.groups_field_list input[type="checkbox"]{
    display: inline-block;
    vertical-align: text-top;
}